html,
body{
    background-color: #EBEBEB;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

* {
	box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul, li{
  margin: 0;
  padding: 0;
}

button{
  border: none;
  cursor: pointer;
  background-color: var(--primary);
}

:root{
  --black: #2f3f47;
  --white: white;
  
  --grey-main: #C4C4C4;
  --grey-light: #f8f8f8;
  --grey-dark: #aaaaaa;

  --primary: #81aed8;
  --primary-hover: #87b7e4;

  --secondary: #9fbdda;
  
  --main-dist: 10px;
}

