.feedWrapper{
    min-height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-areas: 
    "refresh list";
    grid-template-columns: auto 1fr;
    gap: 20px;
    
}

.newsList{
    grid-area: list;
    padding-top: 5px;
}

.refreshWrap{
    grid-area: refresh;
}

.refreshBtn{
    
}

.refreshSticky{
    padding-top: 5px;
    position: sticky;
    top: 0;
}

.btnText{
    visibility: hidden;
}

.btnWrap{
    min-height: 50px;
    min-width: 120px;
}

.loaderWrap{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
}