.pageWrapper{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "desk item";
    grid-template-columns: auto 1fr;
}

.itemWrapper{
    grid-area: item;
    padding-top: 5px;
}

.deskWrapper{
    min-height: 100%;
    grid-area: desk;
}

.desk{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    gap: 10px;
    padding-top: 5px;
}

.btnWrap{
    min-height: 50px;
    min-width: 120px;
}

.loaderWrap{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
}