.pageWrapper{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "desk item";
    grid-template-columns: auto 1fr;
}

.itemWrapper{
    grid-area: item;
}

.deskWrapper{
    min-height: 100%;
    grid-area: desk;
    background-color: aquamarine;
}

.desk{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    gap: 10px;
}