.commentWrapper{
    background-color: var(--grey-light);
    margin: 5px 0 ;
    padding: 10px;
    border-radius: var(--main-dist);
}

.comment{
    border: 1px solid rgb(255, 255, 255);
}

.showAnswers{
    color: brown;
}


.loaderWrap{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
}