.headWrapper{
    background-color: var(--secondary);
    padding: 8px;
    color: var(--white);

    display: grid;
    grid-template-areas: "logo stories credit";
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 20px;
}

.stories{
    display: flex;
    gap: 15px;
    padding-left: 30px;
}

.storiesLink{
    text-decoration: underline;
}

.storiesLink:hover{
    text-decoration: none;
}

.storiesLinkActive{
    font-weight: bold;
    text-decoration: none;
}

.credit{

}