.appWrapper{
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto minmax(400px, 1200px) auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "head head head"
  ". body .";
}



.appHeader{
  grid-area: head;
  padding: 20px;
}

.appBody{
  grid-area: body;
}