.comment, .child{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.children{
    margin-left: 30px;
}

.child{
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid var(--grey-main);
}

.author{
    color: var(--grey-dark);
}

.date{
    color: var(--grey-dark);
}