.cardWrapper{
    display: grid;
    grid-template-areas: 
    "title title title title"
    "author comments date rate";
    grid-template-columns: 1fr auto auto auto;
    grid-template-rows: minmax(30px, 1fr) auto;
    background-color: var(--white);
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: var(--main-dist);
    margin-bottom: 10px;
}

.title{
    grid-area: title;
    font-weight: 700;
    font-size: 20px;
}


.author{
    grid-area: author;
}

.date{
    grid-area: date;
    padding-left: 10px;
}

.rate{
    grid-area: rate;
    padding-left: 10px;
}

.comments{
    grid-area: comments;
    padding-left: 10px;
}
