.cardWrapper{
    display: grid;
    grid-template-areas: 
    "title title title title"
    "link link link link"
    "author . date rate";
    grid-template-columns: 1fr auto auto auto;
    background-color: antiquewhite;
    padding: 20px;
    border: 1px solid black;
}

.title{
    grid-area: title;
}

.link{
    grid-area: link;
}

.author{
    grid-area: author;
}

.date{
    grid-area: date;
}

.rate{
    grid-area: rate;
}
